body{
    font-family: "Montserrat", sans-serif;
}


header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

Nav{
    position: absolute;
    top: 125px;
    right: 0;
}

Nav li{
    margin: 0 0 0 15px;
    display: inline;
}

Nav a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
nav a:hover{
    color: coral;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:0 1.5%;
    padding:30px 15px;
    box-sizing: border-box;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.productos li:hover{
    border-color: coral;

}
.productos li:active{
    border-color: green;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 35px;
    
}
.descripcion{
    font-size: 18px;
}
.precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

form{
    margin: 40px auto;
}

.main-contacto{
    margin: 0 20px;
}


main label,main legend{
    display: block;
    font-size: 20px;
    margin:0 0 20px;
}
.input-padron{
    display: block;
    width: 50%;
    margin: 0 0 25px;
    padding: 10px 25px;
}
.checkbox{
    margin:20px 0;
}

.enviar{
    width: 30%;
    margin: 0 55px;
    padding: 20px 0;
    background-color: orange;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s all;

}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;

}

th{
    background: lightblue;
    color: #000000;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding:10px 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;

}
.finaldescripcion{
    color:#ffffff;
    font-size: 13px;
    margin:20px
}

/*Configuración del home*/  

.banner{
    width: 100%;
}
.titulo-principal{
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}

.utencilios{

    width: 200px;
    float: left;
    margin:5px 20px 0 20px;
    border-radius: 10px;
}
.principal{
    width: 940px;
    margin:0 auto;
    padding:3em 0;
    background-color: #Fefefefe;
}

.principal p{
    margin: 0 0 1em;
    line-height: 1.5;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}

.mapa{
    background: linear-gradient(#Fefefefe,#888888);
}
.mapa p{
    text-align: center;
    padding:0 0 20px 0;
}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.Diferenciales{
    padding:3em 0;
    background:#888888;
    
}

.imagenDiferenciales{
    width: 60%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
    transition: 400ms;
}

.imagenDiferenciales:hover{
    opacity: 0.3;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
}

.items:before{
    content: "✯";
}
.items:first-child{
    font-weight: bold;
}
.video{
    padding: 20px 0;
    width: 550px;
    margin: 1em auto;
    background-color: #888888;
}

@media screen and (max-width:480px){

    h1{
        text-align: center;
    }
    header nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales, .imagenDiferenciales{
        width: 100%;
    }
}

